.my-bg-primary {
  background-color: #2c3e50 ;
  border: 0;
  border-radius: 0;
  font-family: sans-serif;
  font-weight: bolder;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default .navbar-brand {
  color: #FFF;
}

.navbar-default .navbar-nav>li>a {
  color: #FFF
}

.divider {
  width: 75%;
  margin: 15px auto;
}

.divider i {
  font-size: 32px;
}

#jumbotron .divider::after , #jumbotron .divider::before,
#about .divider::after , #about .divider::before  {
  content: '';
  display: block;
  width: 40%;
  height: 4px;
  margin-top: 15px;
  background-color: #FFF;
}

.divider::before {
  float: left;
}

.divider::after {
  float: right;
}

#jumbotron {
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: #1abc9c;
  color: #FFF
}

#jumbotron img {
  width: 270px;
  margin-bottom: 50px;
}

#jumbotron p {
  font-size: 20px;
}

h1 {
  text-transform:uppercase;
  font-weight: bolder;
}

h2{
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 36px;
}

#portfolio {
  padding-bottom: 80px;
}

#portfolio .divider::after , #portfolio .divider::before,
#contact-me .divider::after , #contact-me .divider::before {
  content: '';
  display: block;
  width: 40%;
  height: 4px;
  margin-top: 15px;
  background-color: #000;
}

.divider::before {
  float: left;
}

.divider::after {
  float: right;
}

#portfolio img {
  width: 100%;
  border-radius: 30px;
  padding: 15px;
}

#about {
  background-color: #1abc9c;
  color: #FFF;
  padding-bottom: 80px;
  font-size: 20px;
}

.btn {
  margin-top: 20px;
  border: 2px solid;
  border-radius: 8px;
}

.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-xl {
  padding: 16px 28px;
  font-size: 20px;
}

#contact-me {
  padding-bottom: 80px;
}

.my-form-group input, .my-form-group  {
  border: 0;
  box-shadow: none;
  font-size: 20px;
}

textarea {
  resize: none;
  margin-top: 30px;
}

.my-form-group input{
  border-bottom: 1px solid lightgray;
}


.btn-green {
  background-color: #1abc9c;
  border: 0;
  color: #FFF
}

@media all and (min-width: 992px) {
  .my-navbar-primary{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .navbar-default .navbar-brand {
    font-size: 1.5em;
  }

  .navbar-default .navbar-nav>li>a {
    font-size: 16px;
    padding: 1em;
  }

  #jumbotron h1{
    font-size: 64px;
    line-height: 56px;
  }

  .divider {
    width: 35%;
  }

  #jumbotron p {
    font-size: 24px;
  }

  h2{
    font-size: 48px;
  }
}

@media all and (min-width: 1200px){
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
